.button {
  outline: none;
  cursor: pointer;
  border: none;
}

.button_primary {
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}

.button_transparent {
  background-color: transparent;
}
