.content-block {
  padding: 0 70px;
}

.content-block_bg-color_white {
  background-color: #fff;
}

.content-block_bg-color_grey {
  background-color: #fff;
}

.content-block_bg-color_dark-grey {
  background-color: #dddee3;
}

.content-block_bg-color_light-grey {
  background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
  .content-block {
    padding: 0 50px;
  }

  .content-block_movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .content-block {
    padding: 0 14px;
  }

  .content-block_movies {
    padding: 0 10px;
  }
}
